
#restauranteCarousel {
  max-width: 1200px;  
  margin: 20px auto; 
}
.carousel-inner{
    border-radius: 20px;
    
}
#restauranteCarousel .carousel-item img {
  height: 600px;      
  object-fit: cover;  
}

.card-img-overlay{
    padding: 60px;
    padding-top: 250px;
    color: white;
}
.fw-bold{
    background: linear-gradient(200deg, rgb(255, 159, 34), rgb(255, 51, 0));
    color:white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    text-align: center;
}

.carousel-control-prev{
    
    width: 50px;
    
}
.carousel-control-next{
    width: 50px;
}

.btn{
    width:150px;
    background: linear-gradient(200deg, rgb(255, 159, 34), rgb(255, 51, 0));
}

.alert{
    margin-top: 100px;
    margin-bottom: 0px;
}