
# URL del backend (Spring Boot)
VITE_API_URL=http://localhost:8080

# Google OAuth2 — Client ID de Google Cloud Console
# https://console.cloud.google.com → APIs y servicios → Credenciales → Crear ID de cliente OAuth2
VITE_GOOGLE_CLIENT_ID=328620692653-5j08n49nrubue7obu8f40kbq3laj3nad.apps.googleusercontent.com
